{%load static%}

<footer class="footer-section pt-5 pb-3 mt-lg-5 bg-dark text-light">
    <div class="container">
      <div class="row">
        <!-- Follow Us Section -->
        <div class="col-lg-6 text-left">
          <h5 class="fw-bold">Follow Us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-light text-decoration-none">
                <i class="bi bi-facebook"></i> Facebook
              </a>
            </li>
            <li>
              <a href="#" class="text-light text-decoration-none">
                <i class="bi bi-youtube"></i> YouTube
              </a>
            </li>
            <li>
              <a href="#" class="text-light text-decoration-none">
                <i class="bi bi-tiktok"></i> TikTok
              </a>
            </li>
          </ul>
        </div>
        <!-- Contact Us Section -->
        <div class="col-lg-6 text-right">
          <h5 class="fw-bold">Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-geo-alt"></i> Upashahar, Rajshahi</li>
            <li><i class="bi bi-telephone"></i> +8801605083951</li>
            <li><i class="bi bi-envelope"></i> giftboxbd33@gmail.com</li>
          </ul>
        </div>
      </div>
      <hr style="border-top: 1px solid #ffffff" />
      <div class="row text-center pt-3">
        <div class="col-md-12">
          <p class="mb-0 font-monospace">
            © BD Giftbox 2024. All rights reserved.
          </p>
        </div>
      </div>
    </div>
    <!-- WhatsApp Button -->
    <a
      href="https://wa.me/8801605083951"
      target="_blank"
      class="btn btn-success position-fixed"
      style="bottom: 20px; right: 20px; border-radius: 50%; padding: 15px"
    >
      <i class="bi bi-whatsapp fs-3 text-white"></i>
    </a>
  </footer>

<!-- End Footer Section -->